* {
    transition: color 0.2s, background-color 0.2s;
}

body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    margin: 0;
    margin-top: 56px;
    color: var(--black-2);
    background-color: var(--body-bg);
    font-family: "LXGW WenKai Screen", sans-serif, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a:link {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

a:visited {
    color: var(--link);
    text-decoration: none;
}

.container {
    max-width: 980px;
    margin: auto;
    padding: 0 16px;
}

.section-title {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: .004em;
    margin-bottom: 24px;
    color: var(--card-title);
}

.theme-command {
    display: none;
}

.color-scheme-toggle {
    display: inline-block;
    border-radius: 16px;
    border: 1px solid var(--blue);
    padding-bottom: 1px;
    margin-top: 13px;
}

.color-scheme-toggle label {
    margin: 1px;
}

.color-scheme-toggle label input {
    position: absolute;
    appearance: none;
    width: 0px;
    height: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0 0 99.9% 99.9%);
    clip-path: inset(0 0 99.9% 99.9%);
}

.color-scheme-toggle label span {
    font-size: 14px;
    line-height: 14px;
    padding: 2px 4px;
    border-radius: 12px;
    color: var(--link);
    width: 40px;
    display: inline-block;
    text-align: center;
}

.color-scheme-toggle label input:checked+span {
    color: var(--white-txt-on-blue-bg);
    background-color: var(--blue);
}


::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.28rem;
}

::-webkit-scrollbar-thumb {
    background: var(--footer-link-grey);
    border-radius: 0.5rem;
}

.cyan-banner-background {

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;

    background-size: cover;

    -webkit-filter: blur(15px);

    -moz-filter: blur(15px);

    -o-filter: blur(15px);

    -ms-filter: blur(15px);

    filter: blur(15px);

    position: absolute;
}

#map {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 100;
    opacity: 0;
}

.fadein {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeout {
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

img.lazy {
    transition: filter 0.375s ease 0s
}

img.lazy:not(.loaded) {
    -webkit-filter: blur(4px) !important;
    filter: blur(4px) !important;
}

.article-mask {
    display: none;
}

.article-box {
    position: relative;
}

.article-box:hover .article-mask {
    position: relative;
    display: unset;
}


span.heimu a.external,
span.heimu a.external:visited,
span.heimu a.extiw,
span.heimu a.extiw:visited {
    color: #252525
}

.heimu,
.heimu a,
a .heimu,
.heimu a.new {
    border-radius: 4px;
    background-color: var(--black-4);
    color: var(--black-4);
    text-shadow: none
}

body:not(.heimu_toggle_on) .heimu:hover,
body:not(.heimu_toggle_on) .heimu:active,
body:not(.heimu_toggle_on) .heimu.off {
    transition: color .43s linear;
    color: var(--white);
}

body:not(.heimu_toggle_on) .heimu:hover a,
body:not(.heimu_toggle_on) a:hover .heimu,
body:not(.heimu_toggle_on) .heimu.off a,
body:not(.heimu_toggle_on) a:hover .heimu.off {
    transition: color .43s linear;
    color: var(--white-1);
}

body:not(.heimu_toggle_on) .heimu.off .new,
body:not(.heimu_toggle_on) .heimu.off .new:hover,
body:not(.heimu_toggle_on) .new:hover .heimu.off,
body:not(.heimu_toggle_on) .heimu.off .new,
body:not(.heimu_toggle_on) .heimu.off .new:hover,
body:not(.heimu_toggle_on) .new:hover .heimu.off {
    transition: color .43s linear;
    color: var(--link)
}

.normal-link {
    color: var(--link) !important;
}

code{
  white-space: normal !important; 
  word-wrap: break-word !important;
}



.admonition,
.content>.admonition {
    max-width: 800px;
    margin: 1.5625em auto;
    padding: 0;
    overflow: hidden;
    border-left: .3rem solid #42b983;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, .05), 0 0 0.05rem rgba(0, 0, 0, .1);
    background-color: #fafafa;
    box-sizing: border-box;
}

.admonition-title {
    margin: 0 !important;
    max-width: none !important;
    padding: .4rem 16px .4rem 1rem !important;
    background-color: rgba(66, 185, 131, .1);
    font-weight: 700;

    display: flex !important;
    align-items: center;
    gap: 0.6rem;

    width: 100%;
    box-sizing: border-box;
}

.admonition-title::before {
    margin-top: 2px;
    content: ' ';
    display: inline-block;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    background-color: #42b983;
    border-radius: 50%;

}

.admonition>p:not(.admonition-title){
    padding: 0 16px !important;
    margin: .8em 0 !important;
    max-width: none !important;
}


.admonition.warning {
    border-color: #ff9100;
}

.admonition.warning .admonition-title {
    background-color: rgba(255, 145, 0, .1);
}

.admonition.warning .admonition-title::before {
    background-color: #ff9100;
}


.admonition.info,
.admonition.todo {
    border-color: #00b8d4;
}

.admonition.info .admonition-title,
.admonition.todo .admonition-title {
    background-color: rgba(0, 184, 212, .1);
}

.admonition.info .admonition-title::before,
.admonition.todo .admonition-title::before {
    background-color: #00b8d4;
}

.admonition.warning,
.admonition.attention,
.admonition.caution {
    border-color: #ff9100;
}

.admonition.warning .admonition-title,
.admonition.attention .admonition-title,
.admonition.caution .admonition-title {
    background-color: rgba(255, 145, 0, .1);
}

.admonition.warning .admonition-title::before,
.admonition.attention .admonition-title::before,
.admonition.caution .admonition-title::before {
    background-color: #ff9100;
}

.admonition.failure,
.admonition.error,
.admonition.fail {
    border-color: #ff5252;
}

.admonition.failure .admonition-title,
.admonition.error .admonition-title,
.admonition.fail .admonition-title {
    background-color: rgba(255, 82, 82, .1);
}

.admonition.failure .admonition-title::before,
.admonition.error .admonition-title::before,
.admonition.fail .admonition-title::before {
    background-color: #ff5252;
}

/* 5. 结尾处理 */
.admonition> :last-child {
    margin-bottom: 0 !important;
}