<div class="container">
    <div class="meta">
        <h2 class="title">
            <%= __('search') %>
        </h2>
    </div>
    <form id="search-form">
        <input type="text" id="searchbox" placeholder="<%= __('type_to_search') %>">
    </form>
    <div class="color-scheme-toggle" role="radiogroup" id="search-type-toggle">
        <label>
            <input type="radio" value="only-content" checked>
            <span>正文</span>
        </label>
        <label>
            <input type="radio" value="full">
            <span>全部</span>
        </label>
        <label>
            <input type="radio" value="fuzzy">
            <span>模糊</span>
        </label>
    </div>
    <div class="post-list archives" id="search-results"></div>
</div>